@ -0,0 +1,47 @@
body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0077b6;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

.search-bar input {
  padding: 5px;
}

.home-container {
  text-align: center;
  background-size: cover;
  padding: 50px;
  color: white;
}
.intro {
 color:black;
 font-size:x-large;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
   
